{% extends "../layoutBlocks/layout.html" %} 

{% block title %}Luhraks Projects - Fursuit{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section class="imageLeft">
          <h1>Making my own fursuit</h1>
          <img
            src="/img/Projects/FursuitFull.png"
            alt="Picture of Luhrak standing outside with fursuit head on and hand on his hips. His eyes are glowing and the moon is centered between his ears."
          />
          <div>
            <div>
              <p>
                Ever since my first furry convention - that being Eurofurence 27
                in 2023 - I have grown more and more of a desire to have a
                fursuit of my own character. It took me another convention with
                Nordic Fuzz Con in early 2024 for me to actually come up with a
                plan.
              </p>
              <p>
                The plan consisted of me making my own for both financial and
                creative reasons. I could save some money while also having full
                control over how the result is gonna look like. As an artist it
                really can not be that hard right? Well...
              </p>
            </div>
          </div>
        </section>

        <div class="imageRow">
          <img
            src="/img/Projects/LuhsuitBlueprint.png"
            alt="Blueprint of Luhrak suit before making it"
          />
          <img
            src="/img/Projects/LuhsuitFoambase.png"
            alt="Foambase of the suit head"
          />
          <img
            src="/img/Projects/LuhsuitNoseassembly.png"
            alt="The tech of the nose being screwed together"
          />
        </div>

        <section class="imageLeft">
          <a href="https://youtu.be/BXiA8pfcOjY"
            ><img
              src="/img/Projects/SuitMakerVideo.png"
              alt="Thumbnail with the foambase with a drawover and the words first fursuit head"
          /></a>
          <div>
            <div>
              <p>
                I video documented my whole process of making my suit. It is a
                lot of footage and I edit it down greatly to hopefully have it a
                fun watch while also being informative. &#40; Part 2 will still
                follow once I edit it! &#41;
              </p>
              <a class="button" href="https://youtu.be/BXiA8pfcOjY"
                >Part 1 on YouTube 🡵</a
              >
            </div>
          </div>
        </section>

        <section class="imageRight">
          <div>
            <p>
              Now I have my suit and already went to quite a few conventions,
              walks, meets and dances. Im so happy with it and it was definitely
              worth it for me.
            </p>
            <p>
              And best part is that I can make cool pictures now, be it on cons
              or just anywhere I travel with the suit. And who knows maybe even
              more cool projects follow it. I would love to join some panels on
              conventions or do some dance related stuff.
            </p>
          </div>
          <img
            src="/img/Projects/AutumSuitpic.png"
            alt="Luhrak photo with glowing eyes and red leaves around him"
          />
        </section>

        <div class="imageRow">
          <img
            src="/img/Projects/SunsetPicture.png"
            alt="Sideprofile closeup of Luh outside with sunset light"
          />
          <img
            src="/img/Projects/SuitGroupPhoto.png"
            alt="Luh and two other suiters left and right with him infornt of graffiti"
          />
          <img
            src="/img/Projects/SuitSitting.png"
            alt="Luhrak sitting on the floor with his bone in his maw"
          />
        </div>
      </div>
    </main>

{% endblock %}