<modal-view select="#priceOverview" morebutton="true">
    <li>
        <a href="/prices/{{ price.id }}">
            <div>
                <img src="{{ price.previewfile }}" alt="{{ price.title }}"/>
            </div>
            <div>
                <div class="price">
                    <h3>{{ price.title }}</h3>
                    <p>from {{ price.price }} €</p>
                </div>
                <p>
                    {{ price.short_description or '—' }}
                </p>
            </div>
        </a>
    </li>
</modal-view>