<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Luhrak</title>

    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico" />
    <link rel="stylesheet" media="all" href="/styles/master.css" />
  </head>

  <body>
    <header>
      <div>
        <a class="branding" href="/">
          <img
            class="logo"
            src="/pictures/LuhrakLogo.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <img
            class="logoHover"
            src="/pictures/LuhrakLogoHover.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <p>Luhrak</p>
        </a>
        <hamburger-menu>
          <nav aria-label="main navigation">
            <ul>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/prices">Prices</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/about" aria-current="page">About</a></li>
            </ul>
          </nav>
        </hamburger-menu>
      </div>
    </header>
    <script src="/js/hamburgerMenu.js"></script>

    <main>
      <div class="widthConstraint">
        <section class="imageLeft">
          <h1>About</h1>
          <img
            src="/pictures/LuhFingerguns.png"
            alt="Luhrak pointing with fingerungs and winking at the same time"
          />
          <div>
            <p>
              Since I childhood I have been interested in drawing. In 2017, I
              started with digital art for the first time and began a Youtube
              channel with the name Luhrak later that year. Over the time my
              online persona developed, I practiced drawing digitally and
              posting it online.
            </p>
            <p>
              I have switched my focus from animation to streams to speedarts. A
              lot of those projects have stopped but doing art and creative
              projects will always be a thing for me. This site, my Telegram
              channel and Discord server are the best ways to keep up with what
              i do.
            </p>
          </div>
        </section>

        <section class="imageRight">
          <h2>What do you use to draw?</h2>
          <div>
            <p>
              While I do believe that art can be done well with pretty much any
              medium and tools, this is still a common question.
            </p>
            <p>So this is what I normally use:</p>
            <ul>
              <li>Drawing tablet - Wacom Intuos Pro M</li>
              <li>Art Software - Clip Studio Paint V2</li>
              <li>Reference Viewer - PureRef</li>
            </ul>
          </div>
          <img
            src="/pictures/ClipStudioTap.png"
            alt="Luhrak holding a tablet pen tapping on a logo of clip studio paint"
          />
        </section>

        <section class="imageLeft">
          <h2>Luhrak the character</h2>
          <img
            src="/pictures/Character Reference Sheet.png"
            alt="Reference sheet of luhrak"
          />
          <div>
            <p>
              My fursona is a 5-foot orange furred finnish spitz. He got darker
              orange markings on his ears between his eyes and his limbs as well
              as a creme colored belly, tail underside and arm stripes. He is a
              self insert meaning his personality is the same as my own.
            </p>
            <p>
              Making fanart of him is definitely allowed and much appreciated.
              Feel free to also send it to me or on me discord in the fanart
              channel.
            </p>
            <a class="button" href="https://discord.gg/FkaJ2pC"
              >Join Discord server 🡵</a
            >
          </div>
        </section>

        <section class="contact">
          <h2 id="contact-about">Email Luhrak</h2>
          <form action="https://mi.hs-flensburg.de/echo.php" method="POST">
            <div>
              <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required />
              </div>
              <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required />
              </div>
            </div>

            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" />

            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <button type="submit">Send Message</button>
          </form>
        </section>
      </div>
    </main>

    <footer>
      <div>
        <section>
          <h3>Contact</h3>
          <ul class="footerLinks">
            <li>
              <a href="/about#contact-about">
                <div>
                  <img src="/pictures/LinkIcons/Mail.png" alt="Email Icon" />
                </div>
                <p>Email</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Telegram</p>
              </a>
            </li>
            <li>
              <a href="https://discordapp.com/channels/@me/358693506069561354">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Discord</p>
              </a>
            </li>
          </ul>

          <h3>Community</h3>
          <ul class="footerLinks">
            <li>
              <a href="https://www.patreon.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/patreon.png"
                    alt="Patreon Icon"
                  />
                </div>
                <p>Patreon</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/luhrakart">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Channel</p>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/FkaJ2pC">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Server</p>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Youtube.png"
                    alt="Youtube Icon"
                  />
                </div>
                <p>Youtube</p>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/luhrak.bsky.social">
                <div>
                  <img
                    src="/pictures/LinkIcons/Bluesky.png"
                    alt="Bluesky Icon"
                  />
                </div>
                <p>Bluesky</p>
              </a>
            </li>
            <li>
              <a href="https://x.com/Luhrak_">
                <div>
                  <img
                    src="/pictures/LinkIcons/Twitter.png"
                    alt="Twitter / X Icon"
                  />
                </div>
                <p>Twitter / X</p>
              </a>
            </li>
            <li>
              <a href="https://www.furaffinity.net/user/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/FurAffinity.png"
                    alt="FurAffinity Icon"
                  />
                </div>
                <p>FurAffinity</p>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Instagram.png"
                    alt="Instagram Icon"
                  />
                </div>
                <p>Instagram</p>
              </a>
            </li>
          </ul>

          <h3>Legal</h3>
          <ul class="footerLinks">
            <li>
              <a href="/legal/impressum">
                <div>
                  <img
                    src="/pictures/LinkIcons/Impressum.png"
                    alt="Paragraph Icon"
                  />
                </div>
                <p>Impressum</p>
              </a>
            </li>
            <li class="longLink">
              <a href="/legal/privacy-policy">
                <div>
                  <img src="/pictures/LinkIcons/Privacy.png" alt="Lock Icon" />
                </div>
                <p>Privacy Policy</p>
              </a>
            </li>
          </ul>
        </section>
        <a href="/detailpage/project-stickers">
          <img src="/pictures/LuhWave.png" alt="Luhrak waving very happily" />
        </a>
      </div>
    </footer>
  </body>
</html>
