{% extends "./layoutBlocks/layout.html" %} 

{% block title %}Luhrak - Change Password{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section class="slimForm">
          <h1>Change Password</h1>

          <fetch-form>
          <form action="/change-password" method="POST">

            <!-- Old Password -->
            <div class="input-block" data-field="oldPassword">  
              <label for="oldPassword">Old Password</label>
              {% if formErrors.oldPassword %}
              <p class="form-error">{{formErrors.oldPassword}}</p>
              {% endif %}
              <input 
              type="password" 
              id="oldPassword" 
              name="oldPassword" 
              value="{{ formData.oldPassword or '' }}"
              />
            </div>

            <!-- New Password -->
            <div class="input-block" data-field="newPassword">  
              <label for="newPassword">New Password</label>
              {% if formErrors.newPassword %}
              <p class="form-error">{{formErrors.newPassword}}</p>
              {% endif %}
              <input 
              type="password" 
              id="newPassword" 
              name="newPassword" 
              value="{{ formData.newPassword or '' }}"
              />
            </div>

            <!-- Repat password -->
            <div class="input-block" data-field="passwordConfirm">
              <label for="passwordConfirm">Repat password</label>
              {% if formErrors.passwordConfirm %}
              <p class="form-error">{{formErrors.passwordConfirm}}</p>
              {% endif %}
              <input 
              type="password" 
              id="passwordConfirm" 
              name="passwordConfirm" 
              value="{{ formData.passwordConfirm or '' }}"
              />
            </div>

            <button type="submit">Confirm</button>
          </form>
          </fetch-form>
          <script src="/js/fetch-form.js"></script>
        </section>
      </div>
    </main>

{% endblock %}