<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luhraks Gallery</title>

    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico" />
    <link rel="stylesheet" media="all" href="/styles/master.css" />
  </head>

  <body>
    <header>
      <div>
        <a class="branding" href="/">
          <img
            class="logo"
            src="/pictures/LuhrakLogo.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <img
            class="logoHover"
            src="/pictures/LuhrakLogoHover.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <p>Luhrak</p>
        </a>
        <hamburger-menu>
          <nav aria-label="main navigation">
            <ul>
              <li>
                <a href="/gallery" aria-current="page">Gallery</a>
              </li>
              <li><a href="/prices">Prices</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </hamburger-menu>
      </div>
    </header>
    <script src="/js/hamburgerMenu.js"></script>

    <main>
      <div class="widthConstraint">
        <section>
          <h1>Gallery</h1>
          <p>
            Welcome to my art corner with my latest works. Each is made with
            care and a sprinkle of magic. I hope something here makes your tail
            wag.
          </p>

          <ul class="gallery">
            <li>
              <a href="/detailpage/art-stargaze">
                <div>
                  <img
                    src="/pictures/Gallery/6_Stargaze.png"
                    alt="Luh sitting on the floor with a hand pointing up to little versions of a solar system. He looks happy."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/2_Raimond.png"
                    alt="White furred harengon standing holding up a coin. He wears a huge jacket over his shoulders and has two short swords on his belt."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/5_WolfSword.png"
                    alt="Grey furred wolf with black hair and blue eyes looking at the viewer and holding a greatsword over his shoulder."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/1_MushRogue.png"
                    alt="Tiny cute mushroom creature with two daggers running."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/3_WolfStickers.png"
                    alt="Two stickers of a wolf one blepping and one hugging"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/7_Robotic Kinship by Luhrak OriginalSize.png"
                    alt="Deer holding a smaller fennec fox in a cyber punk setting."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/4_GoatStickers.png"
                    alt="Four stickers of a goat: one shy, one annoyed, one rolling a natual 20 and one with a halo"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/8_YeenSpirit.png"
                    alt="Hyena holding a mixtape and a lolipop in a 70 setting."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/9_AidexRef.png"
                    alt="Reference sheet of a spotted leopard."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/10_Solaris.png"
                    alt="Headshot of a sad bird with markings looking to the left"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/11_Husk.png"
                    alt="The barkeeper from hazbin hotel holding a bottle and an ace of clubs."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/12_Tb.png"
                    alt="Fox character sitting and winking"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/13_Discord.png"
                    alt="Wolf pulling on his collar and holding up a hand in a shrugging way"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/14_ BraveSoul.png"
                    alt="Fennec fox being very scared holding a wodden sword close to him"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/15_ScreentimePhone.png"
                    alt="Canine character upside down tapping on a phone with strings binding him to it"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/16_Nik.png"
                    alt="Raccoon character at a table looking seductive"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/17_UnfishedBusiness.png"
                    alt="Sitting skulldog wtih a stick in his mouth with a orange red and blue color pallet"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/18_Creed the Fox.png"
                    alt="Red fox in light amor and a hood on looking over his shoulder"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/19_Marlonade.png"
                    alt="Cat character with long ears and a robotic hand holding up fingerguns"
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/20_StejfDrink.png"
                    alt="Blue wolf with brown hair holding up a drink and smiling"
                  />
                </div>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </main>

    <footer>
      <div>
        <section>
          <h3>Contact</h3>
          <ul class="footerLinks">
            <li>
              <a href="/about#contact-about">
                <div>
                  <img src="/pictures/LinkIcons/Mail.png" alt="Email Icon" />
                </div>
                <p>Email</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Telegram</p>
              </a>
            </li>
            <li>
              <a href="https://discordapp.com/channels/@me/358693506069561354">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Discord</p>
              </a>
            </li>
          </ul>

          <h3>Community</h3>
          <ul class="footerLinks">
            <li>
              <a href="https://www.patreon.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/patreon.png"
                    alt="Patreon Icon"
                  />
                </div>
                <p>Patreon</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/luhrakart">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Channel</p>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/FkaJ2pC">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Server</p>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Youtube.png"
                    alt="Youtube Icon"
                  />
                </div>
                <p>Youtube</p>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/luhrak.bsky.social">
                <div>
                  <img
                    src="/pictures/LinkIcons/Bluesky.png"
                    alt="Bluesky Icon"
                  />
                </div>
                <p>Bluesky</p>
              </a>
            </li>
            <li>
              <a href="https://x.com/Luhrak_">
                <div>
                  <img
                    src="/pictures/LinkIcons/Twitter.png"
                    alt="Twitter / X Icon"
                  />
                </div>
                <p>Twitter / X</p>
              </a>
            </li>
            <li>
              <a href="https://www.furaffinity.net/user/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/FurAffinity.png"
                    alt="FurAffinity Icon"
                  />
                </div>
                <p>FurAffinity</p>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Instagram.png"
                    alt="Instagram Icon"
                  />
                </div>
                <p>Instagram</p>
              </a>
            </li>
          </ul>

          <h3>Legal</h3>
          <ul class="footerLinks">
            <li>
              <a href="/legal/impressum">
                <div>
                  <img
                    src="/pictures/LinkIcons/Impressum.png"
                    alt="Paragraph Icon"
                  />
                </div>
                <p>Impressum</p>
              </a>
            </li>
            <li class="longLink">
              <a href="/legal/privacy-policy">
                <div>
                  <img src="/pictures/LinkIcons/Privacy.png" alt="Lock Icon" />
                </div>
                <p>Privacy Policy</p>
              </a>
            </li>
          </ul>
        </section>
        <a href="/detailpage/project-stickers">
          <img src="/pictures/LuhWave.png" alt="Luhrak waving very happily" />
        </a>
      </div>
    </footer>
  </body>
</html>
