{% extends "./layoutBlocks/layout.html" %} 

{% block title %}Luhraks Gallery{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section>
          <h1>Gallery</h1>
          <p>
            Welcome to my art corner with my latest works. Each is made with
            care and a sprinkle of magic. I hope something here makes your tail
            wag.
          </p>


          <form class="filterBox" method="GET" action="/gallery" class="galleryFilter">
            <label for="price">Type:</label>

            <select
              id="price"
              name="price"
              onchange="this.form.submit()"
            >
              <option value="">All</option>

              {% for price in prices %}
                <option value="{{ price.id }}"
                  {% if activePrice == price.id %} selected="selected" {% endif %}>
                  {{ price.title }}
                </option>
              {% endfor %}
            </select>
          </form>

            <ul class="gallery">

          {% if permission %}
            <li>
              <a href="/gallery/add">
                <div>
                  <img src="/img/NewPost.png" alt="Add new" />
                </div>
              </a>
            </li>
          {% endif %}

          {% for art in gallery %}
            <li>
              <a href="/gallery/{{ art.id }}">
                <div>
                  <img src="{{ art.artfile }}" alt="{{ art.alt }}">
                </div>
              </a>
            </li>
          {% else %}
            <li>
              <p>
                <div>
                  <p>No art found</p>
                </div>
              </p>
            </li>
          {% endfor %}

        </ul>
        </section>
      </div>
    </main>

{% endblock %}