{% extends "./layoutBlocks/layout.html" %}
{% block title %}Luhraks Gallery - {{ art.title }}
{% endblock %}
{% block content %}
  <div class="widthConstraint">
    <article>
      <div class="headingWithButtons">
        <h1>{{ art.title }}</h1>
        {% if permission %}
          <div class="row">
            <a class="button" href="/gallery-edit/{{ art.id }}">
              Edit
            </a>
            <div class="deleteBox">
              <button
                class="redBg"
                type="button"
                onclick="document.getElementById('confirmDeleteGallery').style.display='block'; this.style.display='none';">
                Delete
              </button>
              <div id="confirmDeleteGallery" style="display: none;">
                <form class="hiddenForm" method="POST" action="/gallery-delete/{{ art.id }}" style="display:inline;">
                  <button class="redBg" type="submit">Confirm Delete</button>
                </form>
                <button
                  type="button"
                  class="button"
                  onclick=" document.getElementById('confirmDeleteGallery').style.display='none';
                    this.closest('.deleteBox').querySelector('.redBg').style.display='inline-block';">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="modal-card">
        <section class="detailsPage">
          <img src="{{ art.artfile }}" alt="{{ art.alt or 'An artpiece' }}"/>
        </section>
        <section class="modal-padding">
          {% if art.date %}
            <p class="date">
              Posted on {{ art.date }}
            </p>
          {% endif %}
          {% if art.description %}
            <p>
              {{ art.description }}
            </p>
          {% endif %}
          <div class="row">
            <p>Want an art piece similar to this too?</p>
            <a class="button" href="/prices{% if art.price_id %}/{{ art.price_id }}{% endif %}">Commission Art</a>
          </div>
        </section>
      </div>
    </article>
  </div>
{% endblock %}