<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luhrak</title>

    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico" />
    <link rel="stylesheet" media="all" href="/styles/master.css" />
  </head>

  <body>
    <header>
      <div>
        <a class="branding" href="/" aria-current="page">
          <img
            class="logo"
            src="/pictures/LuhrakLogo.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <img
            class="logoHover"
            src="/pictures/LuhrakLogoHover.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <p>Luhrak</p>
        </a>
        <hamburger-menu>
          <nav aria-label="main navigation">
            <ul>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/prices">Prices</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </hamburger-menu>
      </div>
    </header>
    <script src="/js/hamburgerMenu.js"></script>

    <main>
      <section class="featured">
        <img
          src="/pictures/LuhInvite.png"
          alt="Luhrak the orange art dog with green eyes, black hoodie and red hankerchief is holding out a paw towards the viewer while also smiling at them. In his other paw he holds a pen and a playful line trails off it."
        />
        <div>
          <h1>Hey, Im Luhrak</h1>
          <p>
            As a digital artist, I specialize in anthropomorphic, cute, and
            cartoony character designs. Of course I also branch out and do all
            sorts of art and projects.
          </p>
          <p>
            You are welcome to commission art from me - I am happy to bring your
            fantasies to colorful reality!
          </p>
          <div>
            <a class="button" href="/prices"> Commission Art </a>
          </div>
        </div>
      </section>

      <div class="widthConstraint">
        <section>
          <a href="/gallery">
            <h2>My recent art <span>➜</span></h2>
          </a>
          <ul class="gallery">
            <li>
              <a href="/detailpage/art-stargaze">
                <div>
                  <img
                    src="/pictures/Gallery/6_Stargaze.png"
                    alt="Luh sitting on the floor with a hand pointing up to little versions of a solar system. He looks happy."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/2_Raimond.png"
                    alt="White furred harengon standing holding up a coin. He wears a huge jacket over his shoulders and has two short swords on his belt."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/5_WolfSword.png"
                    alt="Grey furred wolf with black hair and blue eyes looking at the viewer and holding a greatsword over his shoulder."
                  />
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/art-raimond">
                <div>
                  <img
                    src="/pictures/Gallery/1_MushRogue.png"
                    alt="Tiny cute mushroom creature with two daggers running."
                  />
                </div>
              </a>
            </li>
          </ul>
        </section>

        <section>
          <a href="/prices">
            <h2>My pricings <span>➜</span></h2>
          </a>
          <ul class="wideGallery">
            <li>
              <a href="/detailpage/price-sticker">
                <div>
                  <img
                    src="/pictures/Prices/PrevSticker.png"
                    alt="Blueprint preview of two stickers"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Sticker</h3>
                    <p>From 18€</p>
                  </div>
                  <p>
                    Simple art of your character in any pose for your own pack.
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/price-headshot">
                <div>
                  <img
                    src="/pictures/Prices/PrevHeadshot.png"
                    alt="Blueprint preview a headshot frame"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Headshot</h3>
                    <p>From 16€</p>
                  </div>
                  <p>From ears to shoulders, perfect for a profile picture.</p>
                </div>
              </a>
            </li>
          </ul>
        </section>

        <section>
          <a href="/projects">
            <h2>My projects <span>➜</span></h2>
          </a>
          <ul class="wideGallery">
            <li>
              <a href="/detailpage/project-fursuit">
                <div>
                  <img
                    src="/pictures/Projects/Fursuit.png"
                    alt="Picture of Luhrak standing outside with fursuit head on and hand on his hips. His eyes are glowing and the moon is centered between his ears."
                  />
                </div>
                <div>
                  <h3>Luhrak Fursuit</h3>
                  <p>
                    After my first cons I desired suit. Learn about how I made
                    my own.
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/project-stickers">
                <div>
                  <img
                    src="/pictures/Projects/LuhSticker.png"
                    alt="Sticker of Luhrak peaking over an edge with big eyes."
                  />
                </div>
                <div>
                  <h3>Telegram Stickerpack</h3>
                  <p>
                    Learn about and use my very own stickerpack for telegram.
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </section>

        <section class="imageRight">
          <h2>Want to get in touch?</h2>
          <div>
            <p>
              Be it for a commission or some other matter. The quickest way to
              reach me is on Telegram or Discord by writing me a direct message.
            </p>
            <p>However you can also mail me here:</p>
            <a class="button" href="/about#contact-about">Write an email</a>
          </div>
          <img
            src="/pictures/Boop.png"
            alt="Side view of Luhrak booping a contempt looking wolf on the nose."
          />
        </section>
      </div>
    </main>

    <footer>
      <div>
        <section>
          <h3>Contact</h3>
          <ul class="footerLinks">
            <li>
              <a href="/about#contact-about">
                <div>
                  <img src="/pictures/LinkIcons/Mail.png" alt="Email Icon" />
                </div>
                <p>Email</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Telegram</p>
              </a>
            </li>
            <li>
              <a href="https://discordapp.com/channels/@me/358693506069561354">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Discord</p>
              </a>
            </li>
          </ul>

          <h3>Community</h3>
          <ul class="footerLinks">
            <li>
              <a href="https://www.patreon.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/patreon.png"
                    alt="Patreon Icon"
                  />
                </div>
                <p>Patreon</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/luhrakart">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Channel</p>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/FkaJ2pC">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Server</p>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Youtube.png"
                    alt="Youtube Icon"
                  />
                </div>
                <p>Youtube</p>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/luhrak.bsky.social">
                <div>
                  <img
                    src="/pictures/LinkIcons/Bluesky.png"
                    alt="Bluesky Icon"
                  />
                </div>
                <p>Bluesky</p>
              </a>
            </li>
            <li>
              <a href="https://x.com/Luhrak_">
                <div>
                  <img
                    src="/pictures/LinkIcons/Twitter.png"
                    alt="Twitter / X Icon"
                  />
                </div>
                <p>Twitter / X</p>
              </a>
            </li>
            <li>
              <a href="https://www.furaffinity.net/user/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/FurAffinity.png"
                    alt="FurAffinity Icon"
                  />
                </div>
                <p>FurAffinity</p>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Instagram.png"
                    alt="Instagram Icon"
                  />
                </div>
                <p>Instagram</p>
              </a>
            </li>
          </ul>

          <h3>Legal</h3>
          <ul class="footerLinks">
            <li>
              <a href="/legal/impressum">
                <div>
                  <img
                    src="/pictures/LinkIcons/Impressum.png"
                    alt="Paragraph Icon"
                  />
                </div>
                <p>Impressum</p>
              </a>
            </li>
            <li class="longLink">
              <a href="/legal/privacy-policy">
                <div>
                  <img src="/pictures/LinkIcons/Privacy.png" alt="Lock Icon" />
                </div>
                <p>Privacy Policy</p>
              </a>
            </li>
          </ul>
        </section>
        <a href="/detailpage/project-stickers">
          <img src="/pictures/LuhWave.png" alt="Luhrak waving very happily" />
        </a>
      </div>
    </footer>
  </body>
</html>
