<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luhraks Prices</title>

    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico" />
    <link rel="stylesheet" media="all" href="/styles/master.css" />
  </head>

  <body>
    <header>
      <div>
        <a class="branding" href="/">
          <img
            class="logo"
            src="/pictures/LuhrakLogo.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <img
            class="logoHover"
            src="/pictures/LuhrakLogoHover.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <p>Luhrak</p>
        </a>
        <hamburger-menu>
          <nav aria-label="main navigation">
            <ul>
              <li><a href="/gallery">Gallery</a></li>
              <li>
                <a href="/prices" aria-current="page">Prices</a>
              </li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </hamburger-menu>
      </div>
    </header>
    <script src="/js/hamburgerMenu.js"></script>

    <main>
      <div class="widthConstraint">
        <section>
          <h1>Commission pricing</h1>
          <div class="twoColumns">
            <div>
              <p>
                See common options listed below for an idea what costs what.
                However we dont always have to stick to these options. If you
                have a special idea in mind just throw me a message and we
                figure something out together.
              </p>
              <p>
                Together we can make all your ideas into awesome looking
                reality!
              </p>
            </div>
            <div class="priceArea">
              <h3>Hints:</h3>
              <p>Payment is done via PayPal invoice.</p>
              <p>Give honest feedback so that you are truly happy.</p>
              <p>Big changes after clean lineart may cost more.</p>
              <p>Tell me if you dont it to be posted online.</p>
            </div>
          </div>

          <ul class="wideGallery">
            <li>
              <a href="/detailpage/price-sticker">
                <div>
                  <img
                    src="/pictures/Prices/PrevSticker.png"
                    alt="Blueprint preview of two stickers"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Sticker</h3>
                    <p>From 18€</p>
                  </div>
                  <p>
                    Simple art of your character in any pose for your own pack.
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/price-headshot">
                <div>
                  <img
                    src="/pictures/Prices/PrevHeadshot.png"
                    alt="Blueprint preview a headshot frame"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Headshot</h3>
                    <p>From 16€</p>
                  </div>
                  <p>From ears to shoulders, perfect for a profile picture.</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/price-headshot">
                <div>
                  <img
                    src="/pictures/Prices/PrevBust.png"
                    alt="Blueprint preview of a bust frame"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Bust</h3>
                    <p>From 22€</p>
                  </div>
                  <p>From ears to belly to get those hand paws showing.</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/price-headshot">
                <div>
                  <img
                    src="/pictures/Prices/PrevFullBody.png"
                    alt="Blueprint preview of a full body frame"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Full Body</h3>
                    <p>From 26€</p>
                  </div>
                  <p>From ears to toes for the the expressive pose.</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/price-headshot">
                <div>
                  <img
                    src="/pictures/Prices/PrevReferenceSheet.png"
                    alt="Blueprint preview of a reference sheet"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Ref Sheet</h3>
                    <p>From 45€</p>
                  </div>
                  <p>
                    Depict all the ins and outs of your character for easy
                    drawing.
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/price-headshot">
                <div>
                  <img
                    src="/pictures/Prices/PrevEmote.png"
                    alt="Blueprint preview of three emotes: an orage, a heart and a paw"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Emote</h3>
                    <p>From 12€</p>
                  </div>
                  <p>
                    For when you stream or when emojis are just not fluffy
                    enough.
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailpage/price-headshot">
                <div>
                  <img
                    src="/pictures/Prices/PrevPainted.png"
                    alt="Blueprint preview of a painterly artstyle depciting a wolf looking to the right"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Painting</h3>
                    <p>From 30€</p>
                  </div>
                  <p>My more expirimental painterly style up for grabs.</p>
                </div>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </main>

    <footer>
      <div>
        <section>
          <h3>Contact</h3>
          <ul class="footerLinks">
            <li>
              <a href="/about#contact-about">
                <div>
                  <img src="/pictures/LinkIcons/Mail.png" alt="Email Icon" />
                </div>
                <p>Email</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Telegram</p>
              </a>
            </li>
            <li>
              <a href="https://discordapp.com/channels/@me/358693506069561354">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Discord</p>
              </a>
            </li>
          </ul>

          <h3>Community</h3>
          <ul class="footerLinks">
            <li>
              <a href="https://www.patreon.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/patreon.png"
                    alt="Patreon Icon"
                  />
                </div>
                <p>Patreon</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/luhrakart">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Channel</p>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/FkaJ2pC">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Server</p>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Youtube.png"
                    alt="Youtube Icon"
                  />
                </div>
                <p>Youtube</p>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/luhrak.bsky.social">
                <div>
                  <img
                    src="/pictures/LinkIcons/Bluesky.png"
                    alt="Bluesky Icon"
                  />
                </div>
                <p>Bluesky</p>
              </a>
            </li>
            <li>
              <a href="https://x.com/Luhrak_">
                <div>
                  <img
                    src="/pictures/LinkIcons/Twitter.png"
                    alt="Twitter / X Icon"
                  />
                </div>
                <p>Twitter / X</p>
              </a>
            </li>
            <li>
              <a href="https://www.furaffinity.net/user/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/FurAffinity.png"
                    alt="FurAffinity Icon"
                  />
                </div>
                <p>FurAffinity</p>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Instagram.png"
                    alt="Instagram Icon"
                  />
                </div>
                <p>Instagram</p>
              </a>
            </li>
          </ul>

          <h3>Legal</h3>
          <ul class="footerLinks">
            <li>
              <a href="/legal/impressum">
                <div>
                  <img
                    src="/pictures/LinkIcons/Impressum.png"
                    alt="Paragraph Icon"
                  />
                </div>
                <p>Impressum</p>
              </a>
            </li>
            <li class="longLink">
              <a href="/legal/privacy-policy">
                <div>
                  <img src="/pictures/LinkIcons/Privacy.png" alt="Lock Icon" />
                </div>
                <p>Privacy Policy</p>
              </a>
            </li>
          </ul>
        </section>
        <a href="/detailpage/project-stickers">
          <img src="/pictures/LuhWave.png" alt="Luhrak waving very happily" />
        </a>
      </div>
    </footer>
  </body>
</html>
