{% extends "./layoutBlocks/layout.html" %}
{% block title %}Luhraks Projects{% endblock %}
{% block content %}
  <div class="widthConstraint">
    <article>
      <div class="headingWithButtons">
        <h1>Projects</h1>
      </div>
      <section>
        <p>
          Next to art I sometimes work on other cool things, often still including art or my character in some way. This is an
          overview of all of those.
        </p>
        <ul class="wideGallery">
          <li>
            <a href="/projects-fursuit">
              <div>
                <img
                  src="/img/Projects/Fursuit.png"
                  alt="Picture of Luhrak standing outside with fursuit head on and hand on his hips. His eyes are glowing and the moon is
                    centered between his ears."/>
              </div>
              <div>
                <h3>Luhrak Fursuit</h3>
                <p>
                  After my first cons I desired suit. Learn about how I made my own.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="/projects-stickers">
              <div>
                <img src="/img/Projects/LuhSticker.png" alt="Sticker of Luhrak peaking over an edge with big eyes."/>
              </div>
              <div>
                <h3>Telegram Stickerpack</h3>
                <p>
                  Learn about and use my very own stickerpack for telegram.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="/projects-stickers">
              <div>
                <img
                  src="/img/Projects/Emotes.png"
                  alt="Four emotes: luhs paw, RIP smashing on luhs head, luh vomiting a rainbow and green eyes looking to the left"/>
              </div>
              <div>
                <h3>Emotes Pack</h3>
                <p>
                  For twitch and discord i made a bunch of these little ones.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="/projects-stickers">
              <div>
                <img
                  src="/img/Projects/Texturepack.png"
                  alt="Minecraft inventory with a lot of items being retextured to depict Luhrak texturepack"/>
              </div>
              <div>
                <h3>Minecraft resource pack</h3>
                <p>
                  I started a Minecraft resource pack which is free to use for anyone.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="/projects-stickers">
              <div>
                <img
                  src="/img/Projects/Streams.png"
                  alt="Luhraks Vtuber avatar looking happy and arms raised.The backgroun dis a purple mountain sunset"/>
              </div>
              <div>
                <h3>Luhrak Streams</h3>
                <p>
                  I streamed on twich and youtube. Learn about it an why it stopped.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="/projects-stickers">
              <div>
                <img
                  src="/img/Projects/LuhLegs FullL.gif"
                  alt="Little version of luh only being made of a head and legs and hes bouncing up and down."/>
              </div>
              <div>
                <h3>Animations</h3>
                <p>
                  At the started my youtube with animations. Learn all about it.
                </p>
              </div>
            </a>
          </li>
        </ul>
      </section>
    </article>
  </div>
{% endblock %}