{% extends "../layoutBlocks/layout.html" %}
{% block title %}Luhrak - Not found{% endblock %}
{% block content %}
  <div class="widthConstraint">
    <article>
      <div class="headingWithButtons">
        <h1>404 Site not found</h1>
      </div>
      <section class="imageRight">
        <div>
          <p>Your requested site was not found. Maybe there is a typo in your url or the site was removed.</p>
          <p>Here you can go back to the homepage:</p>
          <div>
            <a class="button" href="/">
              Homepage
            </a>
          </div>
        </div>
        <img src="/img/LuhHmpf.png" alt="Luhrak with with a paw at his hip looking a confused and raising an eyebrow"/>
      </section>
    </article>
  </div>
{% endblock %}