footer {
  z-index: 1;
  background-color: var(--color-bg-opague);
  backdrop-filter: blur(var(--blur-ammount));
  padding-top: 2em;
  padding-bottom: 3em;

  & h3 {
    margin: 0;
  }

  & > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0em 1.2em 0.4em 1.2em;

    @media screen and (min-width: 50em) {
      grid-template-columns: 2fr 1fr;

      & img {
        display: inline;
      }
    }
  }
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.6em;
  column-gap: 1em;
  margin: 0;
  list-style: none;
  padding-left: 0;

  .longLink {
    grid-column: span 2;
    width: fit-content;
    min-width: 48%;
  }

  @media screen and (min-width: 34em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 50em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 60em) {
    grid-template-columns: repeat(3, 1fr);
  }

  li a {
    display: flex;
    gap: 0.5em;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: var(--color-primary);
    background-color: var(--color-bg-dark);
    border-radius: var(--border-radius);
    transition: color 300ms ease-in-out;

    p {
      margin: 0;
      padding-right: 1em;
      align-self: center;
    }

    & div {
      align-items: center;
      border-radius: var(--border-radius);
      overflow: hidden;

      img {
        height: 2rem;
        width: 2rem;
        display: block;
        padding: 0.3em;
      }
    }

    &:hover {
      color: var(--color-light);
      transition: color 300ms ease-in-out;

      & img {
        transform: scale(1.2);
        transform-origin: 50% 50%;
        transition: transform 0.3s ease-out;
      }
    }

    &:active {
      color: var(--color-primary-light);
      background-color: var(--color-bg-dark);
    }

    &:focus {
      color: var(--color-bg-dark);
      background-color: var(--color-primary-light);
      outline: none;
    }
  }
}
