{% extends "../layoutBlocks/layout.html" %} 

{% block title %}Luhraks Projects - Stickers{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section class="imageLeft">
          <h1>The Luhrak stickerpack</h1>
          <img
            src="/img/Projects/Stickers/LuhLuve.png"
            alt="Luhrak sticker looking happy with a heart next to his head"
          />
          <div>
            <p>
              Im working on an ever expanding stickerpack featuring my
              character! Its free and mainly for Telegram but I also added it to
              my discord server and might in other places too.
            </p>
            <p>
              The pack includes a variety of emotions and reactions. Im having a
              great time designing them, and I hope they will bring a little joy
              to your chats.
            </p>
            <a class="button" href="https://t.me/addstickers/Luhrak"
              >Grab pack on telegram. 🡵</a
            >
          </div>
        </section>

        <section class="imageRight">
          <div>
            <p>
              If you love these stickers a lot and think how it would look like
              if it was your character instead - I got you! Of course, I can
              also make stickers for you in form of a commission.
            </p>
            <a class="button" href="/detailPages/price-sticker"
              >Commission own Stickers</a
            >
          </div>
          <img
            src="/img/Projects/Stickers/LuhHype.png"
            alt="Luhrak sticker with his fists up and stars in his eyes looking very excited"
          />
        </section>

        <h2>Sticker examples</h2>
        <p></p>
        <div class="imageRow">
          <img
            src="/img/Projects/Stickers/Hug.png"
            alt="Luhrak sticker hugging a wolf"
          />
          <img
            src="/img/Projects/Stickers/LuhPlush.png"
            alt="Luhrak sticker hugging a bear plushy looking with puppy eyes"
          />
          <img
            src="/img/Projects/Stickers/JustRight.png"
            alt="Luhrak sticker with his hands up and one being the ok sign"
          />
        </div>
        <div class="imageRow">
          <img
            src="/img/Projects/Stickers/Laughing2.png"
            alt="Luhrak sticker of him laughing and the letters Ha Ha next to him"
          />
          <img
            src="/img/Projects/Stickers/LuhDog.png"
            alt="Luhrak sticker of him being a quadrupedal dog sitting and looking very stupid"
          />
          <img
            src="/img/Projects/Stickers/LuhShrug.png"
            alt="Luhrak sticker shrugging"
          />
        </div>
      </div>
    </main>

{% endblock %}