{% extends "../layoutBlocks/layout.html" %} 

{% block title %}Luhrak - Kolophon{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <h1 id="kolophon">Kolophon</h1>

        <p>Luhrak</p>

          <p>Lukas Brüchmann, lubr1661, 750456 </p>
          <p>Marcel Kähler, maka6205, 710700</p>

        <h2 id="texte">Texte</h2>

        <dl>
          <dt>Datenschutzerklärung</dt>
          <dd>Von <a href="https://www.e-recht24.de">e-recht24</a> generiert und angepasst.</dd>

          <dt>Alle weiteren Texte</dt>
          <dd>
            Alle weiteren Texte wurden von uns selbst verfasst für diese Hausarbeit.
          </dd>
        </dl>

        <h2 id="abbildungenetc">Abbildungen etc</h2>

        <dl></dl>
        <dt>Alle Abbildungen</dt>
        <dd>
          <p>Alle Abbildungen sind von mir (Lukas) selbst erstellt.</p>
          <p>
            Auch icons im Footer wurden den tatsächlichen Logos zwar
            nachempfunden aber per hand selbst von mir angefertigt.
          </p>

          <p>
            Auf der About Seite kommt ein Logo von Clip Studio Paint in der
            selbsterstellen Abbildung vor. Dieses Logo habe ich in Form 1:1 von
            der
            <a href="https://www.clipstudio.net/en/">Firma Clip Studio Paint</a>
            übernommen und dann angepasst.
          </p>
        </dd>

        <h2 id="schriften">Schriften</h2>

        <dl>
          <dt>Winky Sans</dt>
          <dd>
            Typofactur
            <a href="https://fonts.google.com/specimen/Winky+Sans"
              >https://fonts.google.com/specimen/Winky+Sans</a
            >
          </dd>
        </dl>

        <h2 id="inspiration">Inspiration</h2>

        <ul>
          <li>
            <a href="http://luhrak.com/">http://luhrak.com/</a>
          </li>
          <li>
            <a href="https://linktr.ee/">https://linktr.ee/</a>
          </li>

          <li>
            <p>
              Dieses screenshot hab ich vor langer zeit aufgenommen und diese
              Anzeige existiert nicht mehr weil es "Limited Edition" war. Das
              layout fand ich aber sehr passend für meine homepage.
            </p>
            <img
              src="/img/Hausarbeit/InspirationDawkoPlush.png"
              class="imageConstrained"
            />
          </li>
        </ul>

        <h2 id="tutorials">Tutorials</h2>

        <ul>
          <li>
            Webdesign Aufgabe - Lisgaras | Schaufel | Müller.
            <a href="http://dylanmueller.de/hs/webdesign/ha01/"
              >http://dylanmueller.de/hs/webdesign/ha01/</a
            >
          </li>
        </ul>

        <h2 id="code">Code</h2>

        <dl>
          <dt>Burger Menu</dt>
          <dd>
            Hiep, Tobias - Javascript implementiertung
            <a
              href="https://elearning.hs-flensburg.de/download/0/d1ddb88e41dd37a3854449c737da36cf/Hamburger-Menu%CC%88.zip"
              >https://elearning.hs-flensburg.de/download/0/d1ddb88e41dd37a3854449c737da36cf/Hamburger-Menu%CC%88.zip</a
            >
          </dd>

          <dt>Font Import</dt>
          <dd>
            Youtube Tutorial iEatWebsites
            <a href="https://www.youtube.com/watch?v=AAU25Fo4bFY"
              >https://www.youtube.com/watch?v=AAU25Fo4bFY</a
            >
          </dd>

          <dt>Js Object Manipulation</dt>
          <dd>
            Mdn documentation
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Working_with_objects"
              >https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Working_with_objects</a
            >
          </dd>

          <dt>Safe password validation short function</dt>
          <dd>
            GeeksForGeeks Js tutorial
            <a href="https://www.geeksforgeeks.org/javascript/javascript-program-to-validate-password-using-regular-expressions/"
              >https://www.geeksforgeeks.org/javascript/javascript-program-to-validate-password-using-regular-expressions/s</a
            >
          </dd>
          <dt>Weiteres zur Backend-Implimentierung</dt>
          <dd>
            Ist aus der Dokumentation zum Punkt "Externe Hilfen" zu entnehmen
            <a href="/documentation#externalHelp"
              >/documentation#externalHelp</a
            >
          </dd>
        </dl>
      </div>
    </main>

{% endblock %}