<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luhraks Gallery - Stargaze</title>

    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico" />
    <link rel="stylesheet" media="all" href="/styles/master.css" />
  </head>

  <body>
    <header>
      <div>
        <a class="branding" href="/">
          <img
            class="logo"
            src="/pictures/LuhrakLogo.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <img
            class="logoHover"
            src="/pictures/LuhrakLogoHover.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <p>Luhrak</p>
        </a>
        <hamburger-menu>
          <nav aria-label="main navigation">
            <ul>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/prices">Prices</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </hamburger-menu>
      </div>
    </header>
    <script src="/js/hamburgerMenu.js"></script>

    <main>
      <div class="widthConstraint">
        <section class="detailsPage">
          <img
            src="/pictures/Gallery/6_Stargaze_big.png"
            alt="Luh sitting on the floor with a hand pointing up to little versions of a solar system. He looks happy."
          />
          <h1>Comfy Stargaze</h1>
          <p>
            Funnily enough this art started as a doodle in my uni notes,
            desperately trying not to fall asleep in a lecture. Then I sat down
            at home and done a proper drawing of this motive. It has been really
            nice to just make a comfy art for just myself, no commission, no
            pressure. I think it is important to sometimes just go back to
            drawing how you feel like, just like when I started getting into
            drawing.
          </p>
          <p>Want an art piece similar to this too?</p>
          <a class="button" href="/prices">Commission Art</a>
        </section>
      </div>
    </main>

    <footer>
      <div>
        <section>
          <h3>Contact</h3>
          <ul class="footerLinks">
            <li>
              <a href="/about#contact-about">
                <div>
                  <img src="/pictures/LinkIcons/Mail.png" alt="Email Icon" />
                </div>
                <p>Email</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Telegram</p>
              </a>
            </li>
            <li>
              <a href="https://discordapp.com/channels/@me/358693506069561354">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Discord</p>
              </a>
            </li>
          </ul>

          <h3>Community</h3>
          <ul class="footerLinks">
            <li>
              <a href="https://www.patreon.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/patreon.png"
                    alt="Patreon Icon"
                  />
                </div>
                <p>Patreon</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/luhrakart">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Channel</p>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/FkaJ2pC">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Server</p>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Youtube.png"
                    alt="Youtube Icon"
                  />
                </div>
                <p>Youtube</p>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/luhrak.bsky.social">
                <div>
                  <img
                    src="/pictures/LinkIcons/Bluesky.png"
                    alt="Bluesky Icon"
                  />
                </div>
                <p>Bluesky</p>
              </a>
            </li>
            <li>
              <a href="https://x.com/Luhrak_">
                <div>
                  <img
                    src="/pictures/LinkIcons/Twitter.png"
                    alt="Twitter / X Icon"
                  />
                </div>
                <p>Twitter / X</p>
              </a>
            </li>
            <li>
              <a href="https://www.furaffinity.net/user/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/FurAffinity.png"
                    alt="FurAffinity Icon"
                  />
                </div>
                <p>FurAffinity</p>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Instagram.png"
                    alt="Instagram Icon"
                  />
                </div>
                <p>Instagram</p>
              </a>
            </li>
          </ul>

          <h3>Legal</h3>
          <ul class="footerLinks">
            <li>
              <a href="/legal/impressum">
                <div>
                  <img src="/pictures/LinkIcons/Impressum.png" alt="Paragraph Icon" />
                </div>
                <p>Impressum</p>
              </a>
            </li>
            <li class="longLink">
              <a href="/legal/privacy-policy">
                <div>
                  <img src="/pictures/LinkIcons/Privacy.png" alt="Lock Icon" />
                </div>
                <p>Privacy Policy</p>
              </a>
            </li>
          </ul>
        </section>
        <a href="/detailpage/project-stickers">
          <img src="/pictures/LuhWave.png" alt="Luhrak waving very happily" />
        </a>
      </div>
    </footer>
  </body>
</html>
