{% extends "../layoutBlocks/layout.html" %} 

{% block title %}Luhraks Gallery - Stargaze{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section class="detailsPage">
          <img
            src="/pictures/Gallery/6_Stargaze_big.png"
            alt="Luh sitting on the floor with a hand pointing up to little versions of a solar system. He looks happy."
          />
          <h1>Comfy Stargaze</h1>
          <p>
            Funnily enough this art started as a doodle in my uni notes,
            desperately trying not to fall asleep in a lecture. Then I sat down
            at home and done a proper drawing of this motive. It has been really
            nice to just make a comfy art for just myself, no commission, no
            pressure. I think it is important to sometimes just go back to
            drawing how you feel like, just like when I started getting into
            drawing.
          </p>
          <p>Want an art piece similar to this too?</p>
          <a class="button" href="/prices">Commission Art</a>
        </section>
      </div>
    </main>

{% endblock %}