{% extends "../layoutBlocks/layout.html" %} 

{% block title %}Luhraks Gallery - Raimond{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section class="detailsPage">
          <img
            src="/pictures/Gallery/2_Raimond_big.png"
            alt="White furred harengon standing holding up a coin. He wears a huge jacket over his shoulders and has two short swords on his belt."
          />
          <h1>Raimond</h1>
          <p>
            This is my harengon phantom rogue named Raimond. Made him for a DND
            campaign that I joined.
          </p>
          <p>
            Basically he shared a history with one of the groups' character in
            Neverwinter and then it fell to a dragon. He always seemed a bit
            more lucky than his friend but never did he think this Luck actually
            stems from Tymora - the goddess of luck herself. She brought him
            back and send to help the adventure group. Yes hes got all the luck
            he could want but does that mean all his skills and deeds are just
            because a god happened to help out? What is he even capable of
            himself?
          </p>
          <p>Want an art piece similar to this too?</p>
          <a class="button" href="/prices">Commission Art</a>
        </section>
      </div>
    </main>

{% endblock %}