{% extends "../layoutBlocks/layout.html" %} 

{% block title %}Luhraks Prices - Headshot{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section class="imageLeft">
          <h1>Headshot Commission</h1>
          <img
            src="/pictures/Prices/PrevHeadshot.png"
            alt="Blueprint preview a headshot frame"
          />
          <div>
            <p>
              Simple drawings of your character in any pose for your own
              stickerpack. The price is per sticker and they can of course be
              commissioned in bulk.
            </p>
            <div class="priceArea">
              <p>16 € colored sketch</p>
              <p>+ 16 € for clean lineart</p>
              <p>+ 16 € for detailed background</p>
              <p>+ 16 € per additional character</p>
            </div>
          </div>
        </section>

        <section class="imageRight">
          <h2>Want a headshot?</h2>
          <div>
            <p>
              Just have your references and ideas for me ready and get in touch
              with me. The quickest way to reach me is on Telegram or Discord by
              writing me a direct message.
            </p>
            <p>However you can also mail me here:</p>
            <a class="button" href="/about#contact-about">Write an email</a>
          </div>
          <img
            src="/pictures/Boop.png"
            alt="Side view of Luhrak booping a contempt looking wolf on the nose."
          />
        </section>

        <div class="imageRow">
          <h2>Headshot examples</h2>
          <img
            src="/pictures/Gallery/10_Solaris.png"
            alt="Headshot of a sad bird with markings looking to the left"
          />
          <img
            src="/pictures/Gallery/21_Vegos.png"
            alt="Headshot of white lizzardfolk from baldurs gate"
          />
          <img
            src="/pictures/Gallery/22_ScayBird.png"
            alt="Headshot of a skullbird with blue hood"
          />
        </div>
      </div>
    </main>

{% endblock %}
