<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luhraks Projects - Stickers</title>

    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico" />
    <link rel="stylesheet" media="all" href="/styles/master.css" />
  </head>

  <body>
    <header>
      <div>
        <a class="branding" href="/">
          <img
            class="logo"
            src="/pictures/LuhrakLogo.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <img
            class="logoHover"
            src="/pictures/LuhrakLogoHover.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <p>Luhrak</p>
        </a>
        <hamburger-menu>
          <nav aria-label="main navigation">
            <ul>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/prices">Prices</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </hamburger-menu>
      </div>
    </header>
    <script src="/js/hamburgerMenu.js"></script>

    <main>
      <div class="widthConstraint">
        <section class="imageLeft">
          <h1>Sticker Commission</h1>
          <img
            src="/pictures/Prices/PrevSticker.png"
            alt="Blueprint preview of two stickers"
          />
          <div>
            <p>
              Simple drawings of your character in any pose for your own
              stickerpack. The price is per sticker and they can of course be
              commissioned in bulk.
            </p>
            <p>
              Easiest way is when you to provide a character reference sheet and
              another existing sticker which shows the pose you want. However of
              course we can also come up with a totally new sticker.
            </p>
            <div class="priceArea">
              <p>18€ per Sticker</p>
              <p>&#40; Maximum of 8 in bulk &#41;</p>
              <p>&#40; No extra addons &#41;</p>
            </div>
          </div>
        </section>

        <section class="imageRight">
          <h2>Want some stickers?</h2>
          <div>
            <p>
              Just have your references and ideas for me ready and get in touch
              with me. The quickest way to reach me is on Telegram or Discord by
              writing me a direct message.
            </p>
            <p>However you can also mail me here:</p>
            <a class="button" href="/about#contact-about">Write an email</a>
          </div>
          <img
            src="/pictures/Boop.png"
            alt="Side view of Luhrak booping a contempt looking wolf on the nose."
          />
        </section>

        <div class="imageRow">
          <h2>Sticker examples</h2>
          <img
            src="/pictures/Prices/StickerHectic.png"
            alt="Sticker of red fox flapping his arms and being in panic"
          />
          <img
            src="/pictures/Prices/StickerBS.png"
            alt="Sticker of blue wolf sniffing and ti says: yup, smells like BS"
          />
          <img
            src="/pictures/Projects/Stickers/LuhShrug.png"
            alt="Sticker of luhrak shrugging"
          />
        </div>
        <div class="imageRow">
          <img
            src="/pictures/Prices/StickerHug.png"
            alt="Sticker of grey wolf hugging"
          />
          <img
            src="/pictures/Prices/Stickerinnocent.png"
            alt="Sticker of goat looking innocent with a halo"
          />
          <img
            src="/pictures/Prices/StickerShy.png"
            alt="Sticker of a grey wolf with pink hair being shy"
          />
        </div>
      </div>
    </main>

    <footer>
      <div>
        <section>
          <h3>Contact</h3>
          <ul class="footerLinks">
            <li>
              <a href="/about#contact-about">
                <div>
                  <img src="/pictures/LinkIcons/Mail.png" alt="Email Icon" />
                </div>
                <p>Email</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Telegram</p>
              </a>
            </li>
            <li>
              <a href="https://discordapp.com/channels/@me/358693506069561354">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Discord</p>
              </a>
            </li>
          </ul>

          <h3>Community</h3>
          <ul class="footerLinks">
            <li>
              <a href="https://www.patreon.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/patreon.png"
                    alt="Patreon Icon"
                  />
                </div>
                <p>Patreon</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/luhrakart">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Channel</p>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/FkaJ2pC">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Server</p>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Youtube.png"
                    alt="Youtube Icon"
                  />
                </div>
                <p>Youtube</p>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/luhrak.bsky.social">
                <div>
                  <img
                    src="/pictures/LinkIcons/Bluesky.png"
                    alt="Bluesky Icon"
                  />
                </div>
                <p>Bluesky</p>
              </a>
            </li>
            <li>
              <a href="https://x.com/Luhrak_">
                <div>
                  <img
                    src="/pictures/LinkIcons/Twitter.png"
                    alt="Twitter / X Icon"
                  />
                </div>
                <p>Twitter / X</p>
              </a>
            </li>
            <li>
              <a href="https://www.furaffinity.net/user/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/FurAffinity.png"
                    alt="FurAffinity Icon"
                  />
                </div>
                <p>FurAffinity</p>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Instagram.png"
                    alt="Instagram Icon"
                  />
                </div>
                <p>Instagram</p>
              </a>
            </li>
          </ul>

          <h3>Legal</h3>
          <ul class="footerLinks">
            <li>
              <a href="/legal/impressum">
                <div>
                  <img src="/pictures/LinkIcons/Impressum.png" alt="Paragraph Icon" />
                </div>
                <p>Impressum</p>
              </a>
            </li>
            <li class="longLink">
              <a href="/legal/privacy-policy">
                <div>
                  <img src="/pictures/LinkIcons/Privacy.png" alt="Lock Icon" />
                </div>
                <p>Privacy Policy</p>
              </a>
            </li>
          </ul>
        </section>
        <a href="/detailpage/project-stickers">
          <img src="/pictures/LuhWave.png" alt="Luhrak waving very happily" />
        </a>
      </div>
    </footer>
  </body>
</html>
