<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luhraks Projects - Stickers</title>

    <link rel="icon" type="image/x-icon" href="/pictures/favicon.ico" />
    <link rel="stylesheet" media="all" href="/styles/master.css" />
  </head>

  <body>
    <header>
      <div>
        <a class="branding" href="/">
          <img
            class="logo"
            src="/pictures/LuhrakLogo.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <img
            class="logoHover"
            src="/pictures/LuhrakLogoHover.png"
            alt="Luhraks Logo consisting of a hexagon with ears resembling Luhraks face shape"
          />
          <p>Luhrak</p>
        </a>
        <hamburger-menu>
          <nav aria-label="main navigation">
            <ul>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/prices">Prices</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </hamburger-menu>
      </div>
    </header>
    <script src="/js/hamburgerMenu.js"></script>

    <main>
      <div class="widthConstraint">
        <section class="imageLeft">
          <h1>The Luhrak stickerpack</h1>
          <img
            src="/pictures/Projects/Stickers/LuhLuve.png"
            alt="Luhrak sticker looking happy with a heart next to his head"
          />
          <div>
            <p>
              Im working on an ever expanding stickerpack featuring my
              character! Its free and mainly for Telegram but I also added it to
              my discord server and might in other places too.
            </p>
            <p>
              The pack includes a variety of emotions and reactions. Im having a
              great time designing them, and I hope they will bring a little joy
              to your chats.
            </p>
            <a class="button" href="https://t.me/addstickers/Luhrak"
              >Grab pack on telegram. 🡵</a
            >
          </div>
        </section>

        <section class="imageRight">
          <div>
            <p>
              If you love these stickers a lot and think how it would look like
              if it was your character instead - I got you! Of course, I can
              also make stickers for you in form of a commission.
            </p>
            <a class="button" href="/detailpage/price-sticker"
              >Commission own Stickers</a
            >
          </div>
          <img
            src="/pictures/Projects/Stickers/LuhHype.png"
            alt="Luhrak sticker with his fists up and stars in his eyes looking very excited"
          />
        </section>

        <h2>Sticker examples</h2>
        <p></p>
        <div class="imageRow">
          <img
            src="/pictures/Projects/Stickers/Hug.png"
            alt="Luhrak sticker hugging a wolf"
          />
          <img
            src="/pictures/Projects/Stickers/LuhPlush.png"
            alt="Luhrak sticker hugging a bear plushy looking with puppy eyes"
          />
          <img
            src="/pictures/Projects/Stickers/JustRight.png"
            alt="Luhrak sticker with his hands up and one being the ok sign"
          />
        </div>
        <div class="imageRow">
          <img
            src="/pictures/Projects/Stickers/Laughing2.png"
            alt="Luhrak sticker of him laughing and the letters Ha Ha next to him"
          />
          <img
            src="/pictures/Projects/Stickers/LuhDog.png"
            alt="Luhrak sticker of him being a quadrupedal dog sitting and looking very stupid"
          />
          <img
            src="/pictures/Projects/Stickers/LuhShrug.png"
            alt="Luhrak sticker shrugging"
          />
        </div>
      </div>
    </main>

    <footer>
      <div>
        <section>
          <h3>Contact</h3>
          <ul class="footerLinks">
            <li>
              <a href="/about#contact-about">
                <div>
                  <img src="/pictures/LinkIcons/Mail.png" alt="Email Icon" />
                </div>
                <p>Email</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Telegram</p>
              </a>
            </li>
            <li>
              <a href="https://discordapp.com/channels/@me/358693506069561354">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Discord</p>
              </a>
            </li>
          </ul>

          <h3>Community</h3>
          <ul class="footerLinks">
            <li>
              <a href="https://www.patreon.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/patreon.png"
                    alt="Patreon Icon"
                  />
                </div>
                <p>Patreon</p>
              </a>
            </li>
            <li>
              <a href="https://t.me/luhrakart">
                <div>
                  <img
                    src="/pictures/LinkIcons/Telegram.png"
                    alt="Telegram Icon"
                  />
                </div>
                <p>Channel</p>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/FkaJ2pC">
                <div>
                  <img
                    src="/pictures/LinkIcons/Discord.png"
                    alt="Discord Icon"
                  />
                </div>
                <p>Server</p>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@Luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Youtube.png"
                    alt="Youtube Icon"
                  />
                </div>
                <p>Youtube</p>
              </a>
            </li>
            <li>
              <a href="https://bsky.app/profile/luhrak.bsky.social">
                <div>
                  <img
                    src="/pictures/LinkIcons/Bluesky.png"
                    alt="Bluesky Icon"
                  />
                </div>
                <p>Bluesky</p>
              </a>
            </li>
            <li>
              <a href="https://x.com/Luhrak_">
                <div>
                  <img
                    src="/pictures/LinkIcons/Twitter.png"
                    alt="Twitter / X Icon"
                  />
                </div>
                <p>Twitter / X</p>
              </a>
            </li>
            <li>
              <a href="https://www.furaffinity.net/user/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/FurAffinity.png"
                    alt="FurAffinity Icon"
                  />
                </div>
                <p>FurAffinity</p>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/luhrak">
                <div>
                  <img
                    src="/pictures/LinkIcons/Instagram.png"
                    alt="Instagram Icon"
                  />
                </div>
                <p>Instagram</p>
              </a>
            </li>
          </ul>

          <h3>Legal</h3>
          <ul class="footerLinks">
            <li>
              <a href="/legal/impressum">
                <div>
                  <img src="/pictures/LinkIcons/Impressum.png" alt="Paragraph Icon" />
                </div>
                <p>Impressum</p>
              </a>
            </li>
            <li class="longLink">
              <a href="/legal/privacy-policy">
                <div>
                  <img src="/pictures/LinkIcons/Privacy.png" alt="Lock Icon" />
                </div>
                <p>Privacy Policy</p>
              </a>
            </li>
          </ul>
        </section>
        <a href="/detailpage/project-stickers">
          <img src="/pictures/LuhWave.png" alt="Luhrak waving very happily" />
        </a>
      </div>
    </footer>
  </body>
</html>
