{% extends "./layoutBlocks/layout.html" %} 

{% block title %}Luhrak - Not found{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section>
            <h1>404 Site not found</h1>
            <p>Your requested site was not found. Maybe there is a typo in your url or the site was removed.</p>
            <p>Here you can go back to the homepage:</p>
            <div>
              <a class="button" href="/"> Homepage </a>
            </div>
        </section>
      </div>
    </main>

{% endblock %}