{% extends "./layoutBlocks/layout.html" %} 

{% block title %}Luhraks Gallery Add Art{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <h1>New Art</h1>
        
        <form method="POST" action="/gallery/add" enctype="multipart/form-data">

          <label for="title">Title</label>
          {% if formErrors.title %}
            <p class="form-error">{{formErrors.title}}</p>
          {% endif %}
          <input 
          type="text" 
          id="title" 
          name="title" 
          value="{{ formData.title or '' }}"
          />
          
          <label for="artfile">Art file</label>
          {% if formErrors.artfile %}
            <p class="form-error">{{formErrors.artfile}}</p>
          {% endif %}
          <input 
          type="file"
          id="artfile" 
          name="artfile" 
          accept="image/png, image/jpeg"
          value="{{ formData.artfile or '' }}"
          />



          <label for="alt">Alt text (optional)</label>
          <input 
          type="text" 
          id="alt" 
          name="alt" 
          value="{{ formData.alt or '' }}"
          />

          <label for="note-date">Date</label>
          {% if formErrors.date %}
          <p class="form-error">{{formErrors.date}}</p>
          {% endif %}
          <input
            type="date"
            id="date"
            name="date"
            value="{{ formData.date or prefillDate }}"
          />

          <label for="type">Type</label>
          {% if formErrors.type %}
            <p class="form-error">{{formErrors.type}}</p>
          {% endif %}
          <input 
          type="text" 
          id="type" 
          name="type" 
          value="{{ formData.type or '' }}"
          />

          <label for="description">About the art (optional)</label>
          <textarea 
          id="description" 
          name="description" 
          rows="5" 
          value="{{ formData.description or '' }}"
          ></textarea>

          <button type="submit">Submit</button>
        </form>
      </div>
    </main>

{% endblock %}