{% extends "./layoutBlocks/layout.html" %} 

{% block title %}Luhrak{% endblock %} 

{% block content %}

    <main>
      <section class="featured">
        <img
          src="/img/LuhInvite.png"
          alt="Luhrak the orange art dog with green eyes, black hoodie and red hankerchief is holding out a paw towards the viewer while also smiling at them. In his other paw he holds a pen and a playful line trails off it."
        />
        <div>
          <h1>Hey, Im Luhrak</h1>
          <p>
            As a digital artist, I specialize in anthropomorphic, cute, and
            cartoony character designs. Of course I also branch out and do all
            sorts of art and projects.
          </p>
          <p>
            You are welcome to commission art from me - I am happy to bring your
            fantasies to colorful reality!
          </p>
          <div>
            <a class="button" href="/prices"> Commission Art </a>
          </div>
        </div>
      </section>

      <div class="widthConstraint">
        <section>
          <a href="/gallery">
            <h2>My recent art <span>➜</span></h2>
          </a>
          <ul class="gallery">
            {% for art in gallery %}
            {% if loop.index0 < 4 %}    
            <li>
              <a href="/gallery/{{ art.id }}">
                <div>
                  <img
                    src="{{ art.artfile }}"
                    alt="{{ art.alt }}"
                  />
                </div>
              </a>
            </li>
            {% endif %}
            {% else %}
            <li>
              <a>
                <div>
                  <p>No art found</p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </section>

        <section>
          <a href="/prices">
            <h2>My pricings <span>➜</span></h2>
          </a>
          <ul class="wideGallery">
            <li>
              <a href="/detailPages/price-sticker">
                <div>
                  <img
                    src="/img/Prices/PrevSticker.png"
                    alt="Blueprint preview of two stickers"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Sticker</h3>
                    <p>From 18€</p>
                  </div>
                  <p>
                    Simple art of your character in any pose for your own pack.
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailPages/price-headshot">
                <div>
                  <img
                    src="/img/Prices/PrevHeadshot.png"
                    alt="Blueprint preview a headshot frame"
                  />
                </div>
                <div>
                  <div class="price">
                    <h3>Headshot</h3>
                    <p>From 16€</p>
                  </div>
                  <p>From ears to shoulders, perfect for a profile picture.</p>
                </div>
              </a>
            </li>
          </ul>
        </section>

        <section>
          <a href="/projects">
            <h2>My projects <span>➜</span></h2>
          </a>
          <ul class="wideGallery">
            <li>
              <a href="/detailPages/project-fursuit">

              
                <div>
                  <img
                    src="/img/Projects/Fursuit.png"
                    alt="Picture of Luhrak standing outside with fursuit head on and hand on his hips. His eyes are glowing and the moon is centered between his ears."
                  />
                </div>
                <div>
                  <h3>Luhrak Fursuit</h3>
                  <p>
                    After my first cons I desired suit. Learn about how I made
                    my own.
                  </p>
                </div>
              </a>
            </li>
            <li>
              <a href="/detailPages/project-stickers">
                <div>
                  <img
                    src="/img/Projects/LuhSticker.png"
                    alt="Sticker of Luhrak peaking over an edge with big eyes."
                  />
                </div>
                <div>
                  <h3>Telegram Stickerpack</h3>
                  <p>
                    Learn about and use my very own stickerpack for telegram.
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </section>

        <section class="imageRight">
          <h2>Want to get in touch?</h2>
          <div>
            <p>
              Be it for a commission or some other matter. The quickest way to
              reach me is on Telegram or Discord by writing me a direct message.
            </p>
            <p>However you can also mail me here:</p>
            <a class="button" href="/about#contact-about">Write an email</a>
          </div>
          <img
            src="/img/Boop.png"
            alt="Side view of Luhrak booping a contempt looking wolf on the nose."
          />
        </section>
      </div>
    </main>

{% endblock %}