{% extends "./layoutBlocks/layout.html" %}

{% block title %}Luhraks Prices{% endblock %}

{% block content %}
<main>
  <div class="widthConstraint">
    <h1>Commission Pricing</h1>

    <ul class="wideGallery">
      <li>
        <a href="/prices/add">
          <div>
            <img src="/img/NewPost.png" alt="Add new price">
          </div>
          <div>
            <h3>New Price</h3>
            <p>Add new entry</p>
          </div>
        </a>
      </li>
          {% for price in prices %}
            <li>
              <a href="/prices/{{ price.id }}">
                <div>
                  <img src="{{ price.previewfile }}" alt="{{ price.title }}">
                </div>

                <div>
                  <!-- Title + Additions (Preis) -->
                  <div class="price">
                    <h3>{{ price.title }}</h3>
                    <p>{{ price.additions or '' }}</p>
                  </div>

                  <!-- Description -->
                  <p>
                    {{ price.description or '—' }}
                  </p>
                </div>
              </a>
            </li>
          {% else %}
            <li>No prices yet</li>
          {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}
