{% extends "./layoutBlocks/layout.html" %}

{% block title %}Luhraks Prices - {{ editing or 'New Price' }}{% endblock %}

{% block content %}

<main>
  <div class="widthConstraint">
    <h1>{{ editing or 'New Price' }}</h1>

    {% if editing %}
      <form method="POST" action="/price-update/{{ formData.id }}" enctype="multipart/form-data">
    {% else %}
      <form method="POST" action="/prices/add" enctype="multipart/form-data">
    {% endif %}

      <!-- TITLE -->
      <label for="title">Title</label>
      {% if formErrors.title %}
        <p class="form-error">{{ formErrors.title }}</p>
      {% endif %}
      <input
        type="text"
        id="title"
        name="title"
        value="{{ formData.title or '' }}"
      />


      {% if formData.previewfile %}
        <img
          src="{{ formData.previewfile }}"
          alt="{{ formData.title }}"
        />
      {% endif %}

      <!-- FILE -->
      {% if formData.previewfile %}
        <label for="previewfile">Replace image (optional)</label>
      {% else %}
        <label for="previewfile">Image</label>
      {% endif %}

      {% if formErrors.previewfile %}
        <p class="form-error">{{ formErrors.previewfile }}</p>
      {% endif %}
      <input
        type="file"
        id="previewfile"
        name="previewfile"
        accept="image/png, image/jpeg"
      />

     
      <label for="description">Description</label>
        {% if formErrors.description %}
        <p class="form-error">{{ formErrors.description }}</p>
      {% endif %}
      <textarea
        id="description"
        name="description"
        rows="5"
      >{{ formData.description or '' }}</textarea>

    
      <label for="additions">Additions</label>
      <textarea
        id="additions"
        name="additions"
        rows="4"
      >{{ formData.additions or '' }}</textarea>

   
      {% if editing %}
        <button type="submit">Update</button>
      {% else %}
        <button type="submit">Submit</button>
      {% endif %}

    </form>
  </div>
</main>

{% endblock %}
