{% extends "../layoutBlocks/layout.html" %} 

{% block title %}Luhrak - Not found{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section class="imageRight">
            <h1>403 Forbidden</h1>
            <div>
            <p>You do not have permission to access this area.</p>
            <p>Here you can go back to the homepage:</p>
              <div>
                <a class="button" href="/"> Homepage </a>
              </div>
            </div>
            <img
            src="/img/LuhStare.png"
            alt="Luhrak leaning forward with a slightly annoyed expression and staring with half closed eyes"
          />
        </section>
      </div>
    </main>

{% endblock %}