<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Luhrak{% endblock %}</title>

    <!-- <link rel="preload" as="image" href="/img/Background.png"> -->
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" media="all" href="/css/master.css" />

    <style>
      body {
        background-image: url(/img/Background.png);
      }
    </style>
  </head>

  <body>
    {% include "./header.html" %}

    {% block content %} {% endblock %}
    
    {% include "./footer.html" %}
  </body>
</html>
