{% extends "../layoutBlocks/layout.html" %} 

{% block title %}Luhrak - Impressum{% endblock %} 

{% block content %}

    <main>
      <div class="widthConstraint">
        <section>
          <h1>Impressum</h1>
          <p>Luhrak</p>
          <p>Lukas Brüchmann</p>
          <p>Auf dem Campus 8 - 3106</p>
          <p>24943 Flensburg</p>
          <p>Germany</p>

          <a class="button" href="/about#contact-about">Contact</a>
        </section>

        <section>
          <h2>Inhaltlich Verantwortlicher gemäß § 5 TMG</h2>
          <p>Lukas Brüchmann</p>
          <p>Auf dem Campus 8 - 3106</p>
          <p>24943 Flensburg</p>
          <p>Germany</p>
        </section>

        <section>
          <h2>Haftungsausschluss</h2>
          <p>
            Trotz sorgfältiger Kontrolle übernehme ich keine Haftung für die
            Inhalte externer Links. Für den Inhalt der berlinkten Seiten sind
            ausschließlich deren Betreiber verantwortlich.
          </p>
          <p>
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf
            diesen Seiten unterliegen dem deutschen Urheberrecht.
          </p>
          <p>
            Zur Teilnahme an einerm Streitbeilegungsverfahren vor einer
            Verbraucherschlichtungsstelle bin ich nicht verpflichtet und nicht
            bereit.
          </p>
        </section>
      </div>
    </main>

{% endblock %}